*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.hide{
  display: none;
}
.show{
  display: block;
}
body {
  font-family: sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgb(160, 155, 155);
  background-size: cover;
}
  .header{
    background: #232020;
    display: flex;
    flex-flow: column nowrap;
  }
      #btn-menu {
          display: none;
      }
      header label {
          display: none;
          width: 30px;
          height: 30px;
          padding: 10px;
          border-right:1px solid #fff
      }
      header label:hover {
          cursor: pointer;
          background: rgba(224, 221, 20, 0.3);
      }
    .menu{
      display: flex;
      flex-flow: row nowrap;
      height: 60px;
      align-items: center;
    }
      .logo{
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
      }
        .logo a{
          font-size: 30px;
          align-self: center;
        }
        .nav{
          flex: 5 1 auto;
        }
        .nav ul {
          margin:0;
          list-style:none;
          padding:0;
          display:flex;
      }
        .nav li {
            flex-grow: 1;
            text-align: center;
            border-right: 1px solid #fff;
        }
        .nav li:hover {
            background: rgb(212, 175, 55);
        }
        .nav li a {
            display: block;
            padding: 15px 20px;
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 2px;
      }
          .social{
            flex: 1 1 auto;
            display: flex;
          }
            .social a{
              font-size: 18px;
              color: #fff;
              padding: 0 5px;
            }
  .section{
    display: flex;
    flex-flow: row wrap;
  }
    .slider{
      position: relative;
      width: 100%;
      height: 100vh;
      background-color: #f5f5f5;
      background-size: cover;
      background-position: center;
      transition: all .1s ease-in-out;
      animation: slider 28s infinite linear;
    }
      .slider-content{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        color: #fff;
        background-color: rgba(0, 22, 40, .6);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .slider-content .lol{
          display: flex;
          width: 600px;
          height: 300px;
          padding-bottom: 40px;
          align-self: center;
        }
        .slider-content .bntMostrar{
          display: flex;
          position:relative;
          text-decoration: none;
          color: #333;
          padding: 9px 20px;
          border: 1px solid #fff;
          text-transform: uppercase;
          transition: all .3s ease-in-out; 
          z-index: 1;
        }
          .btnMostar:hover{
            background-color: #fff;
            color: #333;
          }
@keyframes slider{
  0%{
    background-image: url('imagenes/slider1.jpg');
  }
  25%{
    background-image: url('imagenes/slider1.jpg');
  }
  26%{
    background-image: url('imagenes/slider2.jpeg');
  }
  50%{
    background-image: url('imagenes/slider2.jpeg');
  }
  51%{
    background-image: url('imagenes/slider3.jpg');
  }
  75%{
    background-image: url('imagenes/slider3.jpg');
  }
  76%{
    background-image: url('imagenes/slider4.jpg');
  }
  100%{
    background-image: url('imagenes/slider4.jpg');
  }
}
    .articulos{
      background: #4e4e6a;
      flex: 2 1 auto;
      display: flex;
      flex-flow: row wrap;
    }
      .article{
        background: #1f6cb0;
        flex:1 1 40%;
      }
        .aside{
          background: #f73f52;
        }
          .publicidad{
            background: #ffea85;
          }
  .footer{
    background: #000;
    display: flex;
    justify-content: center;
  }
    .pie{
      background: #e6af2e;
      width: 300px;
    }
@media all and (max-width: 750px){
  header label{
      display: block;
      width: 70px;
      height: 50px;
  }
  .nav {
      position: absolute;
      background: rgb(37, 35, 35); 
      width: 70%;        
      margin-left: -70%;
      transition: all 0.5s;
  }
  .nav ul {
      flex-direction: column;
  }
  .nav li {
      border-top: 1px solid #fff;
  }
  #btn-menu:checked ~ .nav {
      margin:0;
  }
  .section{
    flex-direction: column;
  }
  .aside{
    display: flex;
    justify-content: center;
  }
  .slider-content .lol{
    width: 400px;
    height: 200px;
  }
} 
@media all and (max-width: 600px){
  .articulos{
    flex-direction: column;
  }
  .slider-content .lol{
    width: 300px;
    height: 150px;
  }
}
@media all and (max-width: 400px){
  .aside{
    flex-direction: column;
  }
  .slider-content .lol{
    width: 150px;
    height: 100px;
  }
}
.containerHigher{
  background: #232020;
  display: flex;
  /* flex-flow: nowrap; */
  /* align-items: flex-start; */
  width: 100%;
  height: 200px;
}
  .title-screen{
    background: hotpink;
    display: flex;
    width: 300px;
    height: 100px;
  }
    h4{
      display: flex;
      text-align: center;
      color: #191919;
      font-size: 200%;
    }
  .ascend-descend{
    background: lightblue;
    display: flex;
    width: 200px;
    height: 80px;
    order: -1;
}
    .selectOrder{
      width: 50px;
      height: 50px;
    }
  .search-lol{
    background: red;
    display: flex;
    width: 100px;
    height: 50px;
    order: 3;
}
    .inputBuscar{
      width: 40px;
      height: 40px;
    }
.containerMedium{
  display: flex;
  flex-flow: column nowrap;
  }
      #contentList{
          background: #fff;
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          align-items: center;
          width: 100%;
          padding: 60px; 
      }
      .card-champions{
          width: 20%;
          height: 400px;
          margin: 20px;
          padding: 30px;
          flex: auto;
      }
      .galeria-img{
          width: 100%;
          height: 350px;
          object-fit: cover;
          } 
          .name-champions{
              text-align: center;                
              color: #828282;
          }
  





















/*TERCERA PANTALLA*/
.videoIntro {
    position:relative;
    text-align: center;
}

/* ASESINOS */
.asesino {
  position:relative;
  text-align: center;
  top: 50px;
  font-size: 200%;
}
.roles {
position:relative;
text-align: center;
letter-spacing: 50px;
}
#fourthScreen {
  display:none;
}
.optionsAsse {
  position: relative;
  text-align: left;
}
.searchChampionsA {
  position: relative;
  text-align: right;
}
/*APLICANDO CLASSLIST */
/* .one {
    display: none;
}
.two {
    display: block;
}
.four {
    display:none;
} */
#contentListAsse {
    color: #d1cabc;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 4rem;
    grid-gap: 4rem;
}
.tags {
    position: absolute;
    font-size: 1.5rem;
    margin-left: 5%;
    transition: all ease 0.5s;
    font-family: "Trade Winds", cursive;
    font-size: 80%;
    color:rgb(177, 153, 20);
} 